footer.page-footer.amber.darken-1
  .container
    .row
      .col.l6.s12
        h5.white-text Flode
        p.grey-text.text-lighten-4
          | Flode for the win
      .col.l3.s12
        h5.white-text Settings
        ul
          li
            a.white-text(href='#!') Link 1
          li
            a.white-text(href='#!') Link 2
          li
            a.white-text(href='#!') Link 3
          li
            a.white-text(href='#!') Link 4
      .col.l3.s12
        h5.white-text Stuff
        ul
          li
            a.white-text(href='#!') Link 1
          li
            a.white-text(href='#!') Link 2
          li
            a.white-text(href='#!') Link 3
          li
            a.white-text(href='#!') Link 4
  .footer-copyright
    .container
      | Made by 
      a.green-text.text-lighten-3 People