doctype html
html(lang='en')
  head
    block head
      meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')

      link(type='text/css', rel='stylesheet', href='/materialize/css/materialize.min.css', media='screen,projection')
      link(href='/style.css', type='text/css', rel='stylesheet', media='screen,projection')

      script(src='/jquery/js/jquery.2.1.1.min.js')
      script(src='/materialize/js/materialize.min.js')
      script(src='/js/layout.js')
    
    block title
      title Flode
    block meta
    block css
    block js

  body
    block nav
      include nav.jade    
    block content    
    block footer
      include footer.jade