extends layout

block content
  style.
    img {max-width: 250px; margin: 5px; display: inline-block; max-height: 500px; }
    
  .row
    
  h1 Media gallery
  
  each file in files
    if file.toLowerCase().indexOf(".png") > 0
      img(src=file)
    else if file.toLowerCase().indexOf(".jpg") > 0
      img(src=file)
    else if file.toLowerCase().indexOf(".mov") > 0
      video(width="250", height="250", controls)
        source(src=file, type="video/quicktime")
        Your browser does not like this video.
    else if file.toLowerCase().indexOf(".mp4") > 0
      video( width="250", height="250", controls)
        source(src=file, type="video/mp4")
        Your browser does not like this video.

