extends includes/layout.jade

-var is

mixin background(path)
  div(style="background-image: url('" + path + "')").media
  
mixin media(file,k)
  a(href="/browse/"+k).outer-wrapper.waves-effect.waves-light.z-depth-1
    if file.thumb.toLowerCase().indexOf(".png") > 0 || file.thumb.toLowerCase().indexOf(".jpg") > 0 || file.thumb.toLowerCase().indexOf(".bmp") > 0
      +background(file.thumb)
    else if file.path.toLowerCase().indexOf(".mov") > 0
      .media
        video(controls).responsive-video
          source(src=file.path, type="video/quicktime")
          Your browser does not like this video.
    else if file.path.toLowerCase().indexOf(".mp4") > 0
      .media
        video(controls).responsive-video
          source(src=file.path, type="video/mp4")
          Your browser does not like this video.
           
block content
  style.
    .outer-wrapper { display: inline-block;width: 100%; padding-bottom: 100%; height: 0; position: relative;  }
    .media { display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-size: cover; }
  
  .container
    h1 Media Gallery
  .row.smallPadding
    each file,k in files
      .col.s6.m4.l2.row.smallMargin
        +media(file,k)