extends includes/layout.jade

block fullbody
  body.indexbody
    nav.indexnav
      h1.title.center Flode
      if user
        .user= user.username + " | "
          a(href="/logout") Log out
      else 
        a(href="/login").user Log in
        
    .wrapper
      ul.grid
        li.gridItem.green
          a(href="/upload")
            .inner
              img(src="/fontawesome/cloud-upload.png").icon
              | Upload
        li.gridItem.blue
          a(href="/browse")
            .inner
              img(src="/fontawesome/files-o.png").icon
              | Browse
        li.gridItem.orange
          a(href="/user")
            .inner
              img(src="/fontawesome/user.png").icon
              | User
        li.gridItem.red
          a(href="/settings")
            .inner
              img(src="/fontawesome/sliders.png").icon
              | Settings