extends includes/layout.jade

block fullbody
  body.indexbody
    nav.indexnav
      h1.title.center Flode
    .wrapper
      ul.grid
        li.gridItem.green
          a(href="/upload")
            .inner
              | Upload
        li.gridItem.blue
          a(href="/browse")
            .inner
              | Browse
        li.gridItem.orange
          a(href="/user")
            .inner
              | User
        li.gridItem.red
          a(href="/settings")
            .inner
              | Settings