extends includes/layout.jade

block content
  .container.row
    .col.l3.m6.s12
      .center
        i.mdi-file-cloud-upload.large
    .col.l3.m6.s12
      .center
        i.mdi-file-folder-shared.large
    .col.l3.m6.s12
      .center
        i.mdi-social-person.large
    .col.l3.m6.s12
      .center
        i.mdi-file-folder-shared.large