extends includes/layout.jade

block content
  if reason
    h1= reason
  form(action="/login", method="post")
    if redirect
      input(type="hidden", name="redirect", value=redirect)
    input(type="text", name="username")
    input(type="password", name="password")
    input(type="submit")
  a(href="/register") Or, you can register.