extends includes/layout.jade

mixin background(path)
  div(style="background-image: url('" + path + "')").media
  
mixin media()
  .outer-wrapper
    if file.path.toLowerCase().indexOf(".png") > 0 || file.path.toLowerCase().indexOf(".jpg") > 0 || file.path.toLowerCase().indexOf(".bmp") > 0
      +background(file.path)
    else if file.path.toLowerCase().indexOf(".mov") > 0
      .media
        video(controls).responsive-video
          source(src=file.path, type="video/quicktime")
          Your browser does not like this video.
    else if file.path.toLowerCase().indexOf(".mp4") > 0
      .media
        video(controls).responsive-video
          source(src=file.path, type="video/mp4")
          Your browser does not like this video.
          
block content
  .container.row
    .col.l6.m12.s12.offset-l3.topMargin.margin-l.z-depth-1.noPadding
      +media()
    