extends includes/layout.jade

block content
  form(enctype="multipart/form-data", action="/upload", method="post").outerform
    .input
      h3 Title
      input(type="text", name="title", placeholder="Title", length=25)
    .input
      h3 Tags
      input(type="text", name="tags", placeholder="Comma-separated tags", length=100)
    .input
      h3 Descriptions
      textarea(type="text", name="descr", placeholder="Description", length=1000)
    .input
      h3 Date
      
      input(type="date", name="date", placeholder="From when is this?")
    .input
      h3 File
      input(type="file", name="media")
    .input
      br
      button(type="submit", value="Upload", name="submit") Submit