@import "mixins.less";

@font-face {
  font-family: "Roboto";
  src: url("font/roboto/Roboto-Thin.woff2") format("woff2"), url("font/roboto/Roboto-Thin.woff") format("woff"), url("font/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200; }

@font-face {
  font-family: "Roboto";
  src: url("font/roboto/Roboto-Light.woff2") format("woff2"), url("font/roboto/Roboto-Light.woff") format("woff"), url("font/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: "Roboto";
  src: url("font/roboto/Roboto-Regular.woff2") format("woff2"), url("font/roboto/Roboto-Regular.woff") format("woff"), url("font/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("font/roboto/Roboto-Medium.woff2") format("woff2"), url("font/roboto/Roboto-Medium.woff") format("woff"), url("font/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: "Roboto";
  src: url("font/roboto/Roboto-Bold.woff2") format("woff2"), url("font/roboto/Roboto-Bold.woff") format("woff"), url("font/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700; }

html { height: 100%; font-family: "Roboto", sans-serif; }
body, html { min-height: 100% !important; width: 100%; padding: 0; margin: 0 !important; }

@nav-height: 50px;
@title-size: 120px;
body { position: relative; overflow-x: hidden;  }
body.navbody { padding-top: @nav-height; }
body.indexbody { .box-sizing(border-box); padding-top: @nav-height; position: absolute; top: 0; left: 0; height: 100%; width: 100%; }
nav {
  z-index: 100;
  height: @nav-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #549ed8;
  color: rgba(255,255,255,0.9);
  .box-sizing(border-box);
  
  a { color: rgba(255,255,255,0.7); text-decoration: none; &:hover { color: rgba(255,255,255,0.9); } }
  
  .shadow { .box-shadow(-10px 0 5px black); }
  
  padding-left: @title-size;
  .title { color: rgba(255,255,255,0.9); text-decoration: none; font-size: 32px; font-weight: 300; text-align: center; position: absolute; top: 0; left: 0; width: @title-size; height: 100%; line-height: @nav-height; margin: 0; }
  
  ul {
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;
    li {
      height: 100%;
      display: inline-block;
      a {
        display: block;
        height: 100%; 
        line-height: @nav-height;
        padding: 0 5px 0 5px;
        
        color: rgba(255,255,255,0.9);
        text-decoration: none;
        &:hover {
          background: rgba(0,0,0,0.1);
        }
      }
    }
  }
  .user {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
    height: @nav-height;
    line-height: @nav-height;
  }
}

.indexnav { background: rgba(170,150,150,1.0); color: white; text-align: middle;
  padding: 0;
  .title { padding: 0; width: 100%; }
}
.wrapper {
  padding: 0; margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-top: @nav-height;
  .box-sizing(border-box); 
}

ul.grid {
  float: left;
  width: 100%; height: 100%;
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  
  li.gridItem {
    float: left;
    display: block;
    width: 50%;
    height: 50%;
    
    /*
      Warning: Might cause rendering lag.
    .inner-shadow(0, 0, 0px, 0.0);
    .transition(0.1s);
    a {
      .transition(0.1s);
    }
    &:hover { 
      .inner-shadow(0, 0, 25px, 0.5); 
      a { 
        .transform(scale(0.9));
      }
    }
    */
    
    a { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: block; color: white; }
    
    position: relative;    
    .inner { 
      text-align: center;
      font-size: 28px;
      width: 100%;
      .icon {
        max-width: 50%;
        max-height: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
      }
      position: absolute;
      top: 50%;
      left: 50%;
      .translate(-50%, -50%);
    }
  }
}

.media { width: 200px; height: 200px; background-size: cover; }
.green { 
  background: #9AD64F; // limegreen;
}
.red { 
  background: #DC2F46; //red;
}
.orange { 
  background: #31B8D9; //orange;
}
.blue { 
  background: #FFDA2E;
.input { 
  width:100%;
  height:100px ;
  margin-top:2%;
 
  padding:2px;
}
.outerform{
  width:100%;
  text-align:left;
  height: 100%;
}
input{
  width:100%;
  height:50px;

}
textarea{
  width:100%;
  height:50px ;
}
button{
  text-align: center;
  width: 100%;
}